@tailwind base;
@tailwind components;
@tailwind utilities;

.logo_menu path {
    fill: inherit;
}

.boxAnimation path {
    fill: inherit;
}

.grid_row_template {
    grid-template-rows: repeat(13, minmax(230px, 230px));
}

.grid_items {
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 47.57%, #00000000 100%), rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    color: rgba(255, 0, 0, 0);
    transition: all ease-in-out 350ms;
}

.grid_items h1 {
    font-size: 3rem;
}

.grid_items:hover {
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 37.57%, #00000047 100%), rgba(0, 0, 0, 0.263);
    transition: all ease-in-out 350ms;
    color: rgb(255, 255, 255);
}

.activeBox {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: all 400ms;
}

.showPopUp {
    bottom: 0;
    transition: all 400ms;
}

.modalHeader {
    display: block;
    opacity: 100%;
    transition: all 400ms
}

.noBox {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px;
    transition: all 400ms;
}

.contactAnimation path {
    fill: inherit;
}

.houseAnimation path {
    fill: inherit;
}

.houseAnimation rect {
    fill: inherit;
}

.liensAnimation path {
    fill: inherit;
}

.liensAnimation rect {
    fill: inherit;
}

.logo_menu_target>svg {
    border-radius: 10px;
}

.playerClass {
    padding: 10px;
    background-color: red;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.transition_manual {
    transition: all 150ms ease-in-out;
}

.transition_pop-up {
    transition: all 500ms ease-in-out;
}

.transition_darkmode {
    transition: all 1s ease-in-out;
}

.openWindow {
    bottom: 0;
}

.travauxWindow {
    bottom: -100%
}

.menu_animation {
    left: 0;
    transition: all 400ms;
}

h1 {
    font-size: 2rem;
    font-family: Helvtica, sans-serif;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
}

.small_text {
    font-size: 1rem;
}

canvas {
    touch-action: none;
}

.work_principal {
    position: fixed;
    color: rgb(255 255 255 / 0.7);
    background-color: rgb(0 33 41 / var(--tw-text-opacity));
    width: 100%;
    height: 100vh;
    z-index: 40;

}

.work_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.work_header div {
    padding: 1rem;
    width: 90%;
}

.work_header>div>p {
    color: #00212997;
    margin-bottom: 0.8rem;
}

.work_header>div>h1 {
    font-size: 1.87rem;
}

.work_header>button {
    margin-bottom: 1rem;
    padding: 1rem;
}

.work_header>button>svg {
    fill: rgb(255 255 255 / 0.7);
}

@media screen and (min-width: 1024px) {
    .work_header {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .work_header>div {
        padding: 0rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin-top: 2.5rem;
    }

    .work_header>div>h1 {
        font-size: 4rem;
    }

    .work_header>button {
        padding: 0;
    }

    .work_header>button>svg {
        fill: rgba(153, 153, 153, 0.7);
        transition: all ease-in-out 150ms;
    }

    .work_header>button>svg:hover {
        fill: rgb(255 255 255 / 0.7);
        transition: all ease-in-out 150ms;

    }
}

.work_content_video>div {
    background-color: rgb(255 255 255 / 0.7);
    margin-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: #002129;
    display: flex;
    align-items: center;
}

.work_content_video>div>svg {
    fill: #002129;
    margin-right: 1rem;
}

.work_content_video>div>p {
    font-size: 1rem;
}

.work_content_video>iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.work_content_video>img {
    width: 100%;
    aspect-ratio: 16/9;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}




.work_content_sketchfab>span {
    background-color: rgb(255 255 255 / 0.7);
    margin-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: #002129;
    display: flex;
    align-items: center;
}

.work_content_sketchfab>span>svg {
    fill: #002129;
    margin-right: 1rem;
}

.work_content_sketchfab>span>p {
    font-size: 1rem;
}

.work_content_sketchfab>div {
    width: 100%;
    aspect-ratio: 16/9;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.work_content_sketchfab>div>iframe {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.work_section {
    overflow: auto;
    height: 100%;
    border-radius: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.work_section>p {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (min-width: 1024px) {
    .work_section {
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}