@tailwind base;
@tailwind components;
@tailwind utilities;

.logo_menu path {
    fill: inherit;
}

.boxAnimation path {
    fill: inherit;
}

::-webkit-scrollbar-thumb {
    background: #FFB8B8;
}

.activeBox {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: all 400ms;
}

.showPopUp {
    bottom: 0;
    transition: all 400ms;
}

.modalHeader {
    display: block;
    opacity: 100%;
    transition: all 400ms
}

.noBox {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px;
    transition: all 400ms;
}

.contactAnimation path {
    fill: inherit;
}

.houseAnimation path {
    fill: inherit;
}

.houseAnimation rect {
    fill: inherit;
}

.liensAnimation path {
    fill: inherit;
}

.liensAnimation rect {
    fill: inherit;
}

.logo_menu_target>svg {
    border-radius: 10px;
}

.playerClass {
    padding: 10px;
    background-color: red;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.transition_manual {
    transition: all 150ms ease-in-out;
}

.transition_pop-up {
    transition: all 500ms ease-in-out;
}

.transition_darkmode {
    transition: all 1s ease-in-out;
}

.openWindow {
    bottom: 0;
}

.travauxWindow {
    bottom: -100%
}

.menu_animation {
    left: 0;
    transition: all 400ms;
}

h1 {
    font-size: 2rem;
    font-family: Helvtica, sans-serif;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
}


canvas {
    touch-action: none;
}